<main class="main create-set-page">
  <h1 class="create-set__h1">Create a new flashcard set</h1>
  <form (ngSubmit)="onSubmit()" class="create-set-form" name="createSet">
    <div>
      <label class="title-field">
        <input
          [(ngModel)]="title"
          type="text"
          placeholder="Enter a title"
          class="title-input"
          name="title"
          required
        />
      </label>
    </div>
    <div>
      <label class="description-field">
        <input
          [(ngModel)]="description"
          type="text"
          name="description"
          class="description-input"
          placeholder="Enter a discription"
        />
      </label>
    </div>
    <div class="tools-container row">
      <button type="button" id="import-btn" class="import-btn row">
        <img class="import-btn__icon" src="plus.png" alt="Import button icon" />
        <span class="import-btn__name">Import</span>
      </button>
      <button (click)="onSwap()" type="button" class="swap-btn row">
        <img class="swap-btn__icon" src="swap.png" alt="swap button icon" />
      </button>
    </div>

    <fieldset class="creating-cards">
      <ul class="creating-cards__list">
        @for (creatingCard of creatingCards; track creatingCard.id; let
        i=$index) {
        <li
          appCreatingCard
          [creatingCard]="creatingCard"
          [cardNum]="i"
          (delete)="onDelete($event)"
        ></li>
        }
      </ul>
    </fieldset>

    <div class="add-creating-card">
      <button
        type="button"
        class="add-creating-card__btn"
        (click)="onAddCard()"
      >
        ADD A CARD
      </button>
    </div>

    <div class="create-set">
      <button type="submit" class="create-set__btn">Create</button>
    </div>
  </form>
</main>

<div class="import-modal">
  <div class="import-modal__content">
    <h1>Import your data</h1>
    <label class="import-textarea-label">
      <textarea
        class="import-textarea"
        name="import-textarea"
        rows="10"
        id=""
        placeholder="Word 1   Definition 1&#10;Word 2   Definition 2&#10;Word 3   Definition 3"
      ></textarea>
    </label>
  </div>

  <div class="buttons-container row">
    <button class="cancel-import">Cancel Import</button>
    <button class="import">Import</button>
  </div>
</div>
