.searchbox {
  position: relative;
}

button {
  width: 2.9rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-radius: 1.5rem;
  padding: 0.45rem;
  border: none;

  background: none;
  background-color: antiquewhite;

  cursor: pointer;
}

.logo-figure {
  width: 2rem;
}

.input--search {
  padding: 0.5rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: large;
}

.searched-items-container {
  width: 100%;
  position: absolute;
  background-color: hsl(0, 0%, 85%);
  top: 58px;
  border-radius: 8px;
  z-index: 999;
  padding: 10px;
  display: none;
}

.searched-items {
  list-style: none;
}

.searched-item {
  background-color: hsl(0, 0%, 75%);
  padding: 5px;
  border-radius: 5px;
}

.searched-item:hover {
  background-color: hsl(0, 0%, 60%);
}

.searched-item + .searched-item {
  margin-top: 10px;
}

.searched-item a {
  justify-content: left;
  text-decoration: none;
  color: black;
}

.dash {
  margin: 0 5px;
}
.searched-item p {
  font-weight: 400;
  color: hsl(0, 0%, 25%);
}

.searched-item__img {
  width: 35px;
  margin-right: 15px;
}
