<main class="flashcards-main">
  <h1 class="flashcards-main__h1">{{ selectedSet.title }}</h1>

  <div class="flashcards-stuff-container">
    <app-board
      [(selectedCard)]="selectedCard"
      [(term)]="term"
      (swap)="onSwapBtn()"
    ></app-board>

    <div class="arrows">
      <button class="left-arrow-btn" (click)="onPreviousCard()">
        <img
          src="left-arrow.png"
          class="left-arrow__icon"
          alt="left arrow icon"
        />
      </button>
      <span class="flashcard-number"> {{ selectedCardNum + 1 }} </span>
      /
      <span class="flashcard-number-from">{{ totalCardsNum }}</span>
      <button class="right-arrow-btn" (click)="onNextCard()">
        <img
          src="right-arrow.png"
          class="right-arrow__icon"
          alt="right arrow icon"
        />
      </button>
    </div>
    <div class="flashcards-progress-container">
      <progress
        #progress
        class="flashcards-progress"
        [max]="totalCardsNum"
        [value]="selectedCardNum + 1"
      ></progress>
    </div>
  </div>
</main>
