/* FLASHCARD STYLES ///////////////////////////////// */

.flashcards-main {
  width: 95%;
  margin: 0.5rem auto;
  margin-top: 2.5rem;
  border-radius: 2rem;
  background-color: #f6f7fb;
  padding: 1.5rem;
}

.flashcards-main__h1 {
  margin-bottom: 50px;
}

.flashcards-stuff-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 1px;
}

/* Below Tools */
/* ///////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */

.below-tools {
  position: absolute;
  bottom: -50px;
  right: 20px;
}

.below-tools :is(.flashcards-shuffle-btn, .flashcards-swap-btn) {
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid hsl(224, 25%, 88%);
  font-size: 14px;
  font-weight: 650;
  color: #586380;
  background: none;
  cursor: pointer;
  margin: 0;
}

:is(.flashcards-shuffle-btn):hover {
  background-color: hsla(0, 0%, 50%, 0.093);
  background-color: red;
}

/* /////////////////////// */
/* FLASH CARDS PROGRESS */
/* /////////////////////// */

.arrows {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #586380;
  font-size: 15px;
  font-weight: bold;
}

.arrows button {
  background: none;
  border: none;
  /* background-color: rgba(128, 128, 128, 0.3); */
  padding: 5px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9dde8;
  cursor: pointer;
}

.left-arrow__icon,
.right-arrow__icon {
  width: 25px;
}

.arrows button:hover {
  background-color: #d9dde8;
}

.flashcards-progress-container {
  margin: 5px 0;
  width: 100%;
}

.flashcards-progress {
  width: 100%;
}

/* /////////////////////////////// */

/* //////////////////////////////////////// */
/* //////////////////////////////////////// */
/* ////// EDIT-MODAL */
