<main>
  <div class="sets-menu">
    <h1>Flashcard sets</h1>

    <ul class="sets-menu__list">
      @for (set of sets; track set.setId) {
      <li class="sets-menu__item">
        <app-sets-menu-item [cardSet]="set" />
      </li>
      }

      <!-- <li class="flashcard-set">
          <figure>
            <img
              src="/immages/flash-cards.png"
              class="flashcards-icon"
              alt="Flashcards Icon"
            />
          </figure>
          <div>
            <h4 class="flashcard-set__title">German words</h4>
            <p>Flashcard set - 31 terms</p>
          </div>
          <button type="button" class="delete-button del-btn">
            <img src="/immages/bin.png" alt="delete-icon" />
          </button>
        </li>
        <li class="flashcard-set">
          <figure>
            <img
              src="/immages/flash-cards.png"
              class="flashcards-icon"
              alt="Flashcards Icon"
            />
          </figure>
          <div>
            <h4 class="flashcard-set__title">German words</h4>
            <p>Flashcard set - 31 terms</p>
          </div>
          <button type="button" class="delete-button del-btn">
            <img src="/immages/bin.png" alt="delete-icon" />
          </button>
        </li> -->

      <!-- <li data-id="${id}" class="sets-menu__item">
          <figure>
            <img
              src="/immages/flash-cards.png"
              class="sets-menu__item__img"
              alt="Flashcards Icon"
            />
          </figure>
          <div>
            <h4 class="sets-menu__item__h4">${title}</h4>
            <p>Flashcard set - ${cardsNum} terms</p>
          </div>
          <button
            type="button"
            class="delete-button sets-menu__item__del-btn"
          >
            <img src="/immages/bin.png" alt="delete-icon" />
          </button>
        </li> -->
    </ul>
  </div>
</main>
